/*
CORREÇÕES DE POLÍTICAS RLS E FUNÇÕES PARA O SISTEMA DE EQUIPES
Este arquivo contém ajustes para resolver problemas de permissão no acesso às tabelas 
teams e team_members, além de implementar funções seguras para criação e ingresso em equipes.
*/

-- ======================================================
-- CORREÇÕES COMPLETAS PARA RLS E FUNÇÕES DO SISTEMA DE EQUIPES
-- ======================================================

-- Ativar Debug
SET client_min_messages TO DEBUG;

-- ======================================================
-- 1. REMOVER POLÍTICAS RLS PROBLEMÁTICAS
-- ======================================================

-- Remover políticas RLS existentes para a tabela teams
DROP POLICY IF EXISTS "Equipes visíveis para todos" ON public.teams;
DROP POLICY IF EXISTS "Equipes podem ser inseridas por todos autenticados" ON public.teams;
DROP POLICY IF EXISTS "Equipes podem ser atualizadas pelo líder da equipe" ON public.teams;
DROP POLICY IF EXISTS "Equipes podem ser deletadas pelo líder da equipe" ON public.teams;
DROP POLICY IF EXISTS "Equipes são visíveis para todos autenticados" ON public.teams;
DROP POLICY IF EXISTS "Usuários podem criar equipes" ON public.teams;
DROP POLICY IF EXISTS "Usuários podem atualizar suas próprias equipes" ON public.teams;
DROP POLICY IF EXISTS "Usuários podem deletar suas próprias equipes" ON public.teams;

-- Remover políticas RLS existentes para a tabela team_members
DROP POLICY IF EXISTS "Membros da equipe visíveis para todos autenticados" ON public.team_members;
DROP POLICY IF EXISTS "Membros da equipe podem ser adicionados pelo líder da equipe" ON public.team_members;
DROP POLICY IF EXISTS "Membros da equipe podem ser atualizados pelo líder da equipe" ON public.team_members;
DROP POLICY IF EXISTS "Membros da equipe podem ser removidos pelo líder ou pelo próprio membro" ON public.team_members;
DROP POLICY IF EXISTS "Team leader can insert team members" ON public.team_members;
DROP POLICY IF EXISTS "Team leader can update team members" ON public.team_members;
DROP POLICY IF EXISTS "Team leader or team member can delete team members" ON public.team_members;
DROP POLICY IF EXISTS "Users can view team members" ON public.team_members;

-- ======================================================
-- 2. CRIAR POLÍTICAS RLS SIMPLIFICADAS E ROBUSTAS
-- ======================================================

-- Habilitar RLS para tabelas de equipes e membros
ALTER TABLE public.teams ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.team_members ENABLE ROW LEVEL SECURITY;

-- Políticas simplificadas para a tabela teams
CREATE POLICY "Equipes são visíveis para todos autenticados" 
ON public.teams FOR SELECT 
TO authenticated 
USING (true);

CREATE POLICY "Usuários podem criar equipes" 
ON public.teams FOR INSERT 
TO authenticated 
WITH CHECK (true);

CREATE POLICY "Criadores podem atualizar suas próprias equipes" 
ON public.teams FOR UPDATE 
TO authenticated 
USING (auth.uid() = created_by);

CREATE POLICY "Criadores podem deletar suas próprias equipes" 
ON public.teams FOR DELETE 
TO authenticated 
USING (auth.uid() = created_by);

-- Políticas simplificadas para a tabela team_members
CREATE POLICY "Membros de equipe são visíveis para todos autenticados" 
ON public.team_members FOR SELECT 
TO authenticated 
USING (true);

CREATE POLICY "Líderes podem adicionar membros à sua equipe" 
ON public.team_members FOR INSERT 
TO authenticated 
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.teams t
    WHERE t.id = team_id AND t.created_by = auth.uid()
  )
);

CREATE POLICY "Líderes podem atualizar membros da sua equipe" 
ON public.team_members FOR UPDATE 
TO authenticated 
USING (
  EXISTS (
    SELECT 1 FROM public.teams t
    WHERE t.id = team_id AND t.created_by = auth.uid()
  )
);

CREATE POLICY "Membros podem excluir sua própria associação" 
ON public.team_members FOR DELETE 
TO authenticated 
USING (
  auth.uid() = user_id OR 
  EXISTS (
    SELECT 1 FROM public.teams t
    WHERE t.id = team_id AND t.created_by = auth.uid()
  )
);

-- ======================================================
-- 3. FUNÇÕES RPC MELHORADAS
-- ======================================================

-- Função para criar uma equipe de promotor e atualizar metadados do usuário
CREATE OR REPLACE FUNCTION public.create_promoter_team_v2(
  name TEXT,
  description TEXT
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  team_id UUID;
  team_code TEXT;
  current_role TEXT;
  result JSONB;
BEGIN
  -- Registrar início da operação
  RAISE DEBUG 'Iniciando criação de equipe para usuário %', auth.uid();

  -- Verificar se o usuário já tem uma equipe
  SELECT raw_user_meta_data->>'role' INTO current_role
  FROM auth.users
  WHERE id = auth.uid();
  
  RAISE DEBUG 'Papel atual do usuário: %', current_role;
  
  -- Verificar se o usuário já é líder de equipe
  IF current_role = 'chefe-equipe' THEN
    RAISE EXCEPTION 'O usuário já é um líder de equipe.';
  END IF;

  -- Gerar código único para a equipe
  team_code := UPPER(SUBSTRING(MD5(RANDOM()::TEXT || NOW()::TEXT) FROM 1 FOR 6));
  
  -- Criar nova equipe
  INSERT INTO public.teams (name, description, team_code, created_by)
  VALUES (name, description, team_code, auth.uid())
  RETURNING id INTO team_id;
  
  RAISE DEBUG 'Equipe criada com ID % e código %', team_id, team_code;

  -- Adicionar o criador como membro da equipe
  INSERT INTO public.team_members (team_id, user_id, status)
  VALUES (team_id, auth.uid(), 'active');
  
  RAISE DEBUG 'Usuário adicionado como membro da equipe';

  -- Atualizar metadados do usuário
  UPDATE auth.users
  SET raw_user_meta_data = 
    jsonb_set(
      jsonb_set(
        COALESCE(raw_user_meta_data, '{}'::jsonb),
        '{role}',
        '"chefe-equipe"'
      ),
      '{team}',
      jsonb_build_object(
        'id', team_id,
        'code', team_code,
        'name', name
      )
    ),
    updated_at = now()
  WHERE id = auth.uid();
  
  RAISE DEBUG 'Metadados do usuário atualizados';

  -- Preparar resultado
  result := jsonb_build_object(
    'team_id', team_id,
    'team_code', team_code,
    'user_id', auth.uid(),
    'previous_role', current_role,
    'new_role', 'chefe-equipe'
  );
  
  RETURN result;
EXCEPTION
  WHEN OTHERS THEN
    RAISE DEBUG 'Erro ao criar equipe: %', SQLERRM;
    RAISE;
END;
$$;

-- Permissões para a função
REVOKE ALL ON FUNCTION public.create_promoter_team_v2(TEXT, TEXT) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.create_promoter_team_v2(TEXT, TEXT) TO authenticated;
GRANT EXECUTE ON FUNCTION public.create_promoter_team_v2(TEXT, TEXT) TO service_role;

-- Função para entrar em uma equipe usando o código
CREATE OR REPLACE FUNCTION public.join_team_with_code(
  team_code TEXT
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_team_id UUID;
  v_team_name TEXT;
  result JSONB;
BEGIN
  -- Registrar início da operação
  RAISE DEBUG 'Tentando entrar na equipe com código: %', team_code;

  -- Verificar se o código da equipe existe
  SELECT id, name INTO v_team_id, v_team_name
  FROM public.teams
  WHERE team_code = UPPER(team_code);
  
  IF v_team_id IS NULL THEN
    RAISE EXCEPTION 'Equipe não encontrada com o código fornecido';
  END IF;
  
  RAISE DEBUG 'Equipe encontrada: ID %, Nome %', v_team_id, v_team_name;

  -- Verificar se o usuário já é membro desta equipe
  IF EXISTS (
    SELECT 1 FROM public.team_members
    WHERE team_id = v_team_id AND user_id = auth.uid()
  ) THEN
    RAISE EXCEPTION 'Você já é membro desta equipe';
  END IF;

  -- Adicionar o usuário como membro da equipe
  INSERT INTO public.team_members (team_id, user_id, status)
  VALUES (v_team_id, auth.uid(), 'active');
  
  RAISE DEBUG 'Usuário adicionado como membro da equipe';

  -- Atualizar metadados do usuário
  UPDATE auth.users
  SET raw_user_meta_data = 
    jsonb_set(
      jsonb_set(
        COALESCE(raw_user_meta_data, '{}'::jsonb),
        '{role}',
        '"promotor"'
      ),
      '{team}',
      jsonb_build_object(
        'id', v_team_id,
        'code', team_code,
        'name', v_team_name
      )
    ),
    updated_at = now()
  WHERE id = auth.uid();
  
  RAISE DEBUG 'Metadados do usuário atualizados';

  -- Preparar resultado
  result := jsonb_build_object(
    'team_id', v_team_id,
    'team_code', team_code,
    'team_name', v_team_name,
    'user_id', auth.uid(),
    'role', 'promotor'
  );
  
  RETURN result;
EXCEPTION
  WHEN OTHERS THEN
    RAISE DEBUG 'Erro ao entrar na equipe: %', SQLERRM;
    RAISE;
END;
$$;

-- Permissões para a função
REVOKE ALL ON FUNCTION public.join_team_with_code(TEXT) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.join_team_with_code(TEXT) TO authenticated;
GRANT EXECUTE ON FUNCTION public.join_team_with_code(TEXT) TO service_role;

-- Função para obter detalhes de uma equipe
CREATE OR REPLACE FUNCTION public.get_team_details(
  team_id UUID
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  team_data JSONB;
  member_count INT;
BEGIN
  -- Registrar início da operação
  RAISE DEBUG 'Obtendo detalhes da equipe: %', team_id;

  -- Contar membros da equipe
  SELECT COUNT(*) INTO member_count
  FROM public.team_members
  WHERE team_id = get_team_details.team_id;

  -- Obter dados da equipe
  SELECT
    jsonb_build_object(
      'id', t.id,
      'name', t.name,
      'description', t.description,
      'team_code', t.team_code,
      'created_at', t.created_at,
      'created_by', t.created_by,
      'member_count', member_count,
      'creator', (
        SELECT jsonb_build_object(
          'id', u.id,
          'email', u.email,
          'name', u.raw_user_meta_data->>'name',
          'role', COALESCE(u.raw_user_meta_data->>'role', 'desconhecido')
        )
        FROM auth.users u
        WHERE u.id = t.created_by
      )
    )
  INTO team_data
  FROM public.teams t
  WHERE t.id = get_team_details.team_id;

  IF team_data IS NULL THEN
    RAISE EXCEPTION 'Equipe não encontrada';
  END IF;

  RETURN team_data;
EXCEPTION
  WHEN OTHERS THEN
    RAISE DEBUG 'Erro ao obter detalhes da equipe: %', SQLERRM;
    RAISE;
END;
$$;

-- Permissões para a função
REVOKE ALL ON FUNCTION public.get_team_details(UUID) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_team_details(UUID) TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_team_details(UUID) TO service_role;

-- Função para listar membros de uma equipe
CREATE OR REPLACE FUNCTION public.get_team_members(
  team_id UUID
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  members JSONB;
BEGIN
  -- Registrar início da operação
  RAISE DEBUG 'Obtendo membros da equipe: %', team_id;

  -- Verificar se a equipe existe
  IF NOT EXISTS (SELECT 1 FROM public.teams WHERE id = team_id) THEN
    RAISE EXCEPTION 'Equipe não encontrada';
  END IF;

  -- Obter membros com perfis
  SELECT
    jsonb_agg(
      jsonb_build_object(
        'id', tm.id,
        'user_id', tm.user_id,
        'status', tm.status,
        'joined_at', tm.created_at,
        'profile', (
          SELECT jsonb_build_object(
            'id', u.id,
            'email', u.email,
            'name', COALESCE(u.raw_user_meta_data->>'name', 'Usuário'),
            'role', COALESCE(u.raw_user_meta_data->>'role', 'desconhecido'),
            'is_team_leader', u.raw_user_meta_data->>'role' = 'chefe-equipe'
          )
          FROM auth.users u
          WHERE u.id = tm.user_id
        )
      )
    )
  INTO members
  FROM public.team_members tm
  WHERE tm.team_id = get_team_members.team_id;

  RETURN COALESCE(members, '[]'::jsonb);
EXCEPTION
  WHEN OTHERS THEN
    RAISE DEBUG 'Erro ao obter membros da equipe: %', SQLERRM;
    RAISE;
END;
$$;

-- Permissões para a função
REVOKE ALL ON FUNCTION public.get_team_members(UUID) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_team_members(UUID) TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_team_members(UUID) TO service_role;

-- Função para obter perfil do promotor
CREATE OR REPLACE FUNCTION public.get_promoter_profile(
  user_id UUID DEFAULT auth.uid()
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  user_profile JSONB;
  team_data JSONB = NULL;
  team_id UUID;
BEGIN
  -- Registrar início da operação
  RAISE DEBUG 'Obtendo perfil do promotor: %', user_id;

  -- Obter dados do usuário
  SELECT
    jsonb_build_object(
      'id', u.id,
      'email', u.email,
      'name', COALESCE(u.raw_user_meta_data->>'name', 'Usuário'),
      'role', COALESCE(u.raw_user_meta_data->>'role', 'desconhecido'),
      'metadata', u.raw_user_meta_data
    )
  INTO user_profile
  FROM auth.users u
  WHERE u.id = get_promoter_profile.user_id;

  IF user_profile IS NULL THEN
    RAISE EXCEPTION 'Usuário não encontrado';
  END IF;

  -- Tentar obter ID da equipe dos metadados
  team_id := (user_profile->'metadata'->'team'->>'id')::UUID;
  
  -- Se o ID da equipe existe nos metadados, buscar detalhes da equipe
  IF team_id IS NOT NULL THEN
    -- Tentar obter dados da equipe
    BEGIN
      SELECT
        jsonb_build_object(
          'id', t.id,
          'name', t.name,
          'description', t.description,
          'team_code', t.team_code,
          'created_at', t.created_at,
          'created_by', t.created_by,
          'is_leader', t.created_by = get_promoter_profile.user_id
        )
      INTO team_data
      FROM public.teams t
      WHERE t.id = team_id;
    EXCEPTION
      WHEN OTHERS THEN
        RAISE DEBUG 'Erro ao obter dados da equipe: %', SQLERRM;
        -- Continuar sem os dados da equipe
    END;
  END IF;

  -- Adicionar dados da equipe ao perfil se disponíveis
  IF team_data IS NOT NULL THEN
    user_profile := jsonb_set(user_profile, '{team}', team_data);
  END IF;

  RETURN user_profile;
EXCEPTION
  WHEN OTHERS THEN
    RAISE DEBUG 'Erro ao obter perfil do promotor: %', SQLERRM;
    RAISE;
END;
$$;

-- Permissões para a função
REVOKE ALL ON FUNCTION public.get_promoter_profile() FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_promoter_profile() TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_promoter_profile() TO service_role;

REVOKE ALL ON FUNCTION public.get_promoter_profile(UUID) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.get_promoter_profile(UUID) TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_promoter_profile(UUID) TO service_role;

-- Função para atualizar o papel do usuário nos metadados
CREATE OR REPLACE FUNCTION public.update_user_metadata_role(
  user_id UUID,
  role TEXT
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  old_role TEXT;
  normalized_role TEXT;
  result JSONB;
BEGIN
  -- Registrar início da operação
  RAISE DEBUG 'Atualizando papel do usuário % para %', user_id, role;

  -- Normalizar papel
  IF role IN ('promoter', 'promotor') THEN
    normalized_role := 'promotor';
  ELSIF role IN ('team-leader', 'chefe-equipe') THEN
    normalized_role := 'chefe-equipe';
  ELSE
    normalized_role := role;
  END IF;

  -- Obter papel atual
  SELECT raw_user_meta_data->>'role' INTO old_role
  FROM auth.users
  WHERE id = user_id;
  
  RAISE DEBUG 'Papel atual: %, Novo papel normalizado: %', old_role, normalized_role;

  -- Atualizar metadados do usuário
  UPDATE auth.users
  SET raw_user_meta_data = 
    jsonb_set(
      COALESCE(raw_user_meta_data, '{}'::jsonb),
      '{role}',
      to_jsonb(normalized_role)
    ),
    updated_at = now()
  WHERE id = user_id;
  
  RAISE DEBUG 'Metadados do usuário atualizados';

  -- Preparar resultado
  result := jsonb_build_object(
    'user_id', user_id,
    'previous_role', old_role,
    'new_role', normalized_role
  );
  
  RETURN result;
EXCEPTION
  WHEN OTHERS THEN
    RAISE DEBUG 'Erro ao atualizar papel do usuário: %', SQLERRM;
    RAISE;
END;
$$;

-- Permissões para a função
REVOKE ALL ON FUNCTION public.update_user_metadata_role(UUID, TEXT) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.update_user_metadata_role(UUID, TEXT) TO service_role;

-- ======================================================
-- 4. SCRIPT PARA NORMALIZAR METADADOS DE USUÁRIOS EXISTENTES
-- ======================================================

-- Script para converter todos os 'promoter' para 'promotor' e 'team-leader' para 'chefe-equipe'
DO $$
DECLARE
  user_record RECORD;
  old_role TEXT;
  new_role TEXT;
BEGIN
  -- Registrar início da operação
  RAISE NOTICE 'Iniciando normalização de papéis de usuários...';

  -- Processar cada usuário
  FOR user_record IN 
    SELECT id, raw_user_meta_data 
    FROM auth.users 
    WHERE raw_user_meta_data IS NOT NULL
  LOOP
    old_role := user_record.raw_user_meta_data->>'role';
    
    -- Normalizar papel
    IF old_role = 'promoter' THEN
      new_role := 'promotor';
      
      UPDATE auth.users
      SET raw_user_meta_data = jsonb_set(
        raw_user_meta_data,
        '{role}',
        to_jsonb(new_role)
      ),
      updated_at = now()
      WHERE id = user_record.id;
      
      RAISE NOTICE 'Usuário % atualizado: % -> %', user_record.id, old_role, new_role;
      
    ELSIF old_role = 'team-leader' THEN
      new_role := 'chefe-equipe';
      
      UPDATE auth.users
      SET raw_user_meta_data = jsonb_set(
        raw_user_meta_data,
        '{role}',
        to_jsonb(new_role)
      ),
      updated_at = now()
      WHERE id = user_record.id;
      
      RAISE NOTICE 'Usuário % atualizado: % -> %', user_record.id, old_role, new_role;
    END IF;
  END LOOP;
  
  RAISE NOTICE 'Normalização de papéis concluída!';
END;
$$;

-- ======================================================
-- 5. VERIFICAR CONSISTÊNCIA APÓS AS ATUALIZAÇÕES
-- ======================================================

DO $$
BEGIN
  RAISE NOTICE 'Verificando configurações RLS...';
  
  -- Verificar se RLS está habilitado nas tabelas
  IF EXISTS (
    SELECT 1 FROM pg_tables 
    WHERE schemaname = 'public' AND tablename = 'teams' AND rowsecurity = true
  ) THEN
    RAISE NOTICE 'RLS está habilitado para a tabela teams';
  ELSE
    RAISE WARNING 'RLS NÃO está habilitado para a tabela teams!';
  END IF;
  
  IF EXISTS (
    SELECT 1 FROM pg_tables 
    WHERE schemaname = 'public' AND tablename = 'team_members' AND rowsecurity = true
  ) THEN
    RAISE NOTICE 'RLS está habilitado para a tabela team_members';
  ELSE
    RAISE WARNING 'RLS NÃO está habilitado para a tabela team_members!';
  END IF;
  
  -- Contar políticas por tabela
  RAISE NOTICE 'Contagem de políticas RLS:';
  RAISE NOTICE '- teams: % políticas', (SELECT COUNT(*) FROM pg_policies WHERE tablename = 'teams');
  RAISE NOTICE '- team_members: % políticas', (SELECT COUNT(*) FROM pg_policies WHERE tablename = 'team_members');
  
  RAISE NOTICE 'Verificação concluída!';
END;
$$;
